.base-container {
	max-width: 1000px;
	width: 100%;
	//insert media queries to adjust width of containers here
	margin-left: auto;
	margin-right: auto;
}

.base-grid {
	margin: -1rem;
	display: flex;
	flex-wrap: wrap;
}
