$big_desktop: 1110px;
$desktop: 975px;
$tablet_landscape: 860px; 
$tablet_portrait: 620px; 
$phone: 425px;
$phone_smallest: 365px;

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}