:root {
	--white: #ffffff;
	--black: #000000;
	--orange: #ce4519;
	--orange-80f: #d86a47;
	--orange-60f: #e28f75;
	--orange-40f: #ebb5a3;
	--orange-20f: #f5dad1;
	--orange-80a: rgba(206,69,25,0.8);
	--orange-60a: rgba(206,69,25,0.6);
	--orange-40a: rgba(206,69,25,0.4);
	--orange-20a: rgba(206,69,25,0.2);
	--gray: #2c3237;
	--gray-80f: #575b60;
	--gray-60f: #818488;
	--gray-40f: #abadaf;
	--gray-20f: #d5d6d7;
	--gray-80a: rgba(45,50,56,0.8);
	--gray-60a: rgba(45,50,56,0.6);
	--gray-40a: rgba(45,50,56,0.4);
	--gray-20a: rgba(45,50,56,0.2);
	--blue: #0099ff;
	--blue-80f: #33adff;
	--blue-60f: #66c2ff;
	--blue-40f: #99d6ff;
	--blue-20f: #ccebff;
	--blue-80a: rgba(0,153,255,0.8);
	--blue-60a: rgba(0,153,255,0.6);
	--blue-40a: rgba(0,153,255,0.4);
	--blue-20a: rgba(0,153,255,0.2);
	--magenta: #cc0066;
	--magenta-80f: #d63385;
	--magenta-60f: #e066a3;
	--magenta-40f: #eb99c2;
	--magenta-20f: #f5cce0;
	--magenta-80a: rgba(204,0,102,0.8);
	--magenta-60a: rgba(204,0,102,0.6);
	--magenta-40a: rgba(204,0,102,0.4);
	--magenta-20a: rgba(204,0,102,0.2);
	--green: #00cc00;
	--green-80f: #33d633;
	--green-60f: #66e066;
	--green-40f: #99eb99;
	--green-20f: #ccf5cc;
	--green-80a: rgba(0,204,0,0.8);
	--green-60a: rgba(0,204,0,0.6);
	--green-40a: rgba(0,204,0,0.4);
	--green-20a: rgba(0,204,0,0.2);
	--lime: #ccff00;
	--lime-80f: #d6ff33;
	--lime-60f: #e0ff66;
	--lime-40f: #ebff99;
	--lime-20f: #f5ffcc;
	--lime-80a: rgba(204,255,0,0.8);
	--lime-60a: rgba(204,255,0,0.6);
	--lime-40a: rgba(204,255,0,0.4);
	--lime-20a: rgba(204,255,0,0.2);
	--coffee: #996633;
	--coffee-80f: #ad855c;
	--coffee-60f: #c2a385;
	--coffee-40f: #d6c2ad;
	--coffee-20f: #ebe0d6;
	--coffee-80a: rgba(153,102,51,0.8);
	--coffee-60a: rgba(153,102,51,0.6);
	--coffee-40a: rgba(153,102,51,0.4);
	--coffee-20a: rgba(153,102,51,0.2);
	--red: #cc0000;
	--red-80f: #d63333;
	--red-60f: #e06666;
	--red-40f: #eb9999;
	--red-20f: #f5cccc;
	--red-80a: rgba(204,0,0,0.8);
	--red-60a: rgba(204,0,0,0.6);
	--red-40a: rgba(204,0,0,0.4);
	--red-20a: rgba(204,0,0,0.2);
	--yellow: #ffcc00;
	--yellow-80f: #ffd633;
	--yellow-60f: #ffe066;
	--yellow-40f: #ffeb99;
	--yellow-20f: #fff5cc;
	--yellow-80a: rgba(255,204,0,0.8);
	--yellow-60a: rgba(255,204,0,0.6);
	--yellow-40a: rgba(255,204,0,0.4);
	--yellow-20a: rgba(255,204,0,0.2);
	--lilac: #990099;
	--lilac-80f: #ad33ad;
	--lilac-60f: #c266c2;
	--lilac-40f: #d699d6;
	--lilac-20f: #ebcceb;
	--lilac-80a: rgba(153,0,153,0.8);
	--lilac-60a: rgba(153,0,153,0.6);
	--lilac-40a: rgba(153,0,153,0.4);
	--lilac-20a: rgba(153,0,153,0.2);
	--navy: #003366;
	--navy-80f: #335c85;
	--navy-60f: #6685a3;
	--navy-40f: #99adc2;
	--navy-20f: #ccd6e0;
	--navy-80a: rgba(0,51,102,0.8);
	--navy-60a: rgba(0,51,102,0.6);
	--navy-40a: rgba(0,51,102,0.4);
	--navy-20a: rgba(0,51,102,0.2);
	--coral: #ff6666;
	--coral-80f: #ff8585;
	--coral-60f: #ffa3a3;
	--coral-40f: #ffc2c2;
	--coral-20f: #ffe0e0;
	--coral-80a: rgba(255,102,102,0.8);
	--coral-60a: rgba(255,102,102,0.6);
	--coral-40a: rgba(255,102,102,0.4);
	--coral-20a: rgba(255,102,102,0.2);
}